<!DOCTYPE html>
<html lang="en">
<head>
    <title>AP監視ページ</title>
    <meta charset=UTF-8>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="Content-Style-Type" content="text/css">
  <!--   <meta http-equiv="refresh" content="60; URL="> -->
    
    <style>
        * {
            margin: 0;
            padding: 0;
            font-size: 2vw;
        }

        body {
            font-family: sans-serif;
        }

        table#header {
            width: 100%;
        }

        table#header td#title {
            font-weight: 900;
        }

        table#header td.chart {
            font-weight: 600;
            width: 2.2vw;
            text-align: right;
            font-size: 1.3em;
            line-height: 0.8em;
        }

        .lv0 { background-color: #9FA8DA; }
        .lv1 { background-color: #80CBC4; }
        .lv2 { background-color: #81C784; }
        .lv3 { background-color: #AED581; }
        .lv4 { background-color: #D4E157; }
        .lv5 { background-color: #FFEB3B; }
        .lv6 { background-color: #FFCA28; }
        .lv7 { background-color: #FFA726; }
        .lv8 { background-color: #FF7043; }
        .lv9 { background-color: #EF5350; }
        .lv10 { background-color: #C0211D; }

        /* アクセスポイント情報テーブル */
        table#info_ap {
            margin: auto;
            width: 95%;
            height: 70%;
            white-space: nowrap;
        }

        table#info_ap td {
            vertical-align: top;
            text-align: center;
            border: solid 1px black;
            background-color: #ccc;
            width: 10%;
            height: 50%;
        }

        /* アクセスポイントの情報 */
        table#info_ap td div.info_ap {
            background-color: #ffc;
            line-height: 0.4em;
            padding:0.2em 0.1em 0.3em 0.1em;
        }
        
        table#info_ap td span.ap_name {
            font-weight: 900;
            font-size: 0.8em;
        }

        table#info_ap td span.radio {
            color: rgba(0, 0, 0, 0.7);
            font-size: 0.5em;
            line-height: 0.2em;
        }

        /* SSIDの情報 */
        table#info_ap td div.info_ssid {
            width: 100%;
            height: 3.5em;
            text-align: center;
            line-height: 1.1em;
        }

        table#info_ap td span.ssid_name {
            align-items: center;
            font-size: 0.7em;
            font-weight: 900;
            width: 100%;
        }
        table#info_ap td span.maxcount {
            line-height: 0.5em;
            color: rgba(0, 0, 0, 0.7);
            font-size: 0.5em;
        }

        table#info_ap td span.cnt {
            font-size: 2.2em;
            font-weight: 900;
            line-height: 0.8em;
            width: 100%;
            text-align: center;
        }

        /* 情報バーのスタイル */
        #infobar {
            position: fixed;
            bottom: 10px;
            right: 10px;
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 0.8em;
            z-index: 1000;
        }

        #ptime {
            font-family: monospace;
        }

    </style>
</head>

<body>
    <table id="header">
        <tr>
            <td id="title">§&nbsp;WiFi AP Heatmap</td>
            <% for(let i = 0; i <= 10; i++) { %>
                <td class="chart lv<%= i %>"><%= i %></td>
            <% } %>
        </tr>
    </table>

    <input type="hidden" id="mtime" value="<%= mtime %>">
    <table id="info_ap">
        <% for(let row = 0; row < 2; row++) { %>
            <tr>
                <% for(let col = 0; col < 8; col++) { %>
                    <% const ap = aps[row * 8 + col]; %>
                    <td class="ap lv<%= ap.level %>" data-ap="<%= ap.name %>">
                        <div class="info_ap">
                            <span class="ap_name"><%= ap.name %></span>
                            <span class="radio"><%= ap.channel %>ch/<%= ap.power %>dBm</span>
                        </div>
                            <% if(ap.ssids && ap.ssids.length > 0) { %>
                                <% ap.ssids.forEach(function(ssid) { %>
                                    <div class="info_ssid lv<%= ssid.level %>">
                                    <span class="ssid_name"><%= ssid.name %></span>
                                    <span class="maxcount">(<%= ssid.maxCount %>台)</span>
                                    <br style="line-height:0.1em;">
                                        <span class="cnt"><%= ssid.count %><span>台</span>
                                    </div>
                                <% }); %>
                            <% } %>
                    </td>
                <% } %>
            </tr>
        <% } %>
    </table>

    <div id="infobar">
        <div id="ptime"><%= new Date(mtime * 1000).toLocaleString('ja-JP') %></div>
    </div>

    <script>
        const modified = document.getElementById("mtime");
        const modified_sec = modified.value;
        let present_sec = Date.now();
        present_sec = Math.trunc(present_sec / 1000);
        const elapsed = present_sec - modified_sec;
        
        if (elapsed > 300) {
            document.write(`<p style="font-size:4em; font-weight:900; color:#c00; text-align:center; line-height:1em;">Update Error</p>`);
        }
        document.close;
    </script>
    
    <!-- WebSocket接続用のスクリプトを読み込む -->
    <script src="/js/main.js"></script>
</body>
</html> 